
* {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
body {
    background-color: black;
}
.head  {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), transparent);
    padding: 10px 10px;
}
a {
    text-decoration: none;
    color: rgb(252, 238, 10);
}

.navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.tab {
    text-decoration: none;
    color: antiquewhite !important;
    font-weight: 600;
    margin: 5px;
    padding: 10px 15px;
    font: medium;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid ;
    border-color: rgb(252, 238, 10);
}
.active{
    background-color: rgb(255, 255, 255);
}

.bold {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 50px;
}

.name {
    color: #00f0ff;
    font-weight: 700;
    font-size: 40px;
}
.content {
    margin-left: 20%;
}
.typewrite {
    font-weight: 500;
    font-size: 40px;
    margin-top: 60px;
}
.separator-big {
    width: 100%;
    height: auto;
}
.about {
    font-size: 1.5rem;
}
.button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    color: rgb(252, 238, 10);
    font-weight: 600;
    border-bottom: 1px solid rgb(252, 238, 10);
}
.gitlogo {
    width: 35px;
    padding: 15px 0 0 0;
}

