
* {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
body {
    background-color: black;
}
.head {
    text-align: center;
    padding: 20px 0 10px 0;
    background-color: rgb(252, 238, 10);
}
.head h1{
    color: black;
}

.yimage {
    transform: rotate(180deg);
    width:100%;
    height: 100%;
    margin-bottom: 5rem;
}
a {
    text-decoration: none;
    color: rgb(252, 238, 10);
}

.navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tab {
    text-decoration: none;
    color: antiquewhite;
    font-weight: 600;
    margin: 5px;
    padding: 10px 15px;
    font: medium;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid ;
    border-color: rgb(252, 238, 10);
}
.active {
    background-color: black;
    border: 1px solid #00f0ff;
}
.active a{
    color: white;
}

.bold {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 50px;
}

.name {
    color: #00f0ff;
    font-weight: 700;
    font-size: 40px;
}
.content {
    margin: 0 10% 0 10%;
}
.flex {
    display: flex;
    flex-direction: row;
}
.photo {
    width: 250px;
    margin-left: 30%;
    margin-top: -100px;
    height: fit-content;
}
.skills-image {
    margin-top: 10px;
    width: 400px;
}


.wrap,
.typewrite {
    font-weight: 500;
    font-size: 40px;
    margin: 30px 0 20px 0;
}
.separator-big {
    width: 100%;
    height: auto;
}
.about {
    font-size: 1.5rem;
}
.button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    color: rgb(252, 238, 10);
    font-weight: 600;
    border-bottom: 1px solid rgb(252, 238, 10);
}
.logo {
    width: 35px;
    margin: 30px 10px 30% 10px;
}
.content p{
    font-size: 1.5rem;
}
br {
    margin-top: 1rem;
    display: block;
}
.content.about {
    margin-bottom: 30%;
}
.edu {
    margin-bottom: 2rem;
    /**text-align: center;**/
}
h3 {
    color: #00f0ff;
    font-size: 2rem;
    margin-bottom: 10px;
    position: relative;
}
h3 {
    content: "";
    border-bottom: 2px solid yellow;
    width: fit-content;
}
.con {
    text-align: center;
}
.uil {
    font-size: 50px;
    padding: 15px;
    color: #fb2121;
}
.project {
    margin-bottom: 100px;
}
.pro-head{
    color: #fb2121;
    display: inline;
    margin-bottom: 50px;
}
li {
    list-style-type: circle;
    padding: 2px;
    font-size: 1.5rem;
}
.con .logo {
    margin: 0;
    font-size: 50px;
    padding: 20px;
}

@media only screen and (max-width: 768px) { 
    .photo {
        display: none;
    }
    .flex {
        display: flex;
        justify-content: left;
        flex: 1;
    }
    .flex .photo {
        margin-left: 0%;
        
        flex: 2;
    }
    .yimage {
        margin-bottom: 15%;
    }
    .skills-image {
        width: 300px;
    }
}



/**
.form {
    display: flex;
    flex-direction: column;
    margin: 0 20% 0 20%;
}
.form > input {
    background-color: #f1f1f1;
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.5rem;
  }
.formback {
    background-color: white;

}**/
p span{
    color: yellow;
}
.loader {
    position: relative;
    width: 80px;
    margin: 50px auto;
    margin-bottom: 100rem;
  }
  
  .duo {
    height: 20px;
    width: 50px;
    background: hsla(0, 0%, 0%, 0.0);
    position: absolute;
    
  }
  
  .duo, .dot {
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .duo1 {
    left: 0;
  }
  
  .duo2 {
    left: 30px
  }
  
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #00f0ff;
    position: absolute;
  }
  
  .dot-a {
    left: 0px;  
  }
  
  .dot-b {
    right: 0px;
  }
  
  
  @keyframes spin {
      0% { transform: rotate(0deg) }
     50% { transform: rotate(180deg) }
    100% { transform: rotate(180deg) }
  }
  
  @keyframes onOff {
      0% { opacity: 0; }
     49% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 1; }
  }
  
  .duo1 {
    animation-name: spin;
  }
  
  .duo2 {
    animation-name: spin;
    animation-direction: reverse;
  }
  
  .duo2 .dot-b {
    animation-name: onOff;
  }
  
  .duo1 .dot-a {
    opacity: 0;
    animation-name: onOff;
    animation-direction: reverse;
  }

.content.duo2 {
    margin-bottom: 100%;
}
.con {
    margin-bottom: 2rem;
}
